* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
}

.col-5 {
    width: 100%;
    flex: 0 0 30%;
    padding: 0 15px;
}

.col-7 {
    flex: 0 0 70%;
    padding: 0 15px;
}

.default-select {
    width: 100%;
    padding: 8px 10px;
    cursor: pointer;
}