.btn {
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    &.--submit {
        padding: 14px;
        background-color: green;
        font-weight: bold;
        color: #fff;
    }
}